@layer base {
  html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
  }
  body {
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
