@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/styles/base.css';
@import '@/styles/tokens/color.css';
@import '@/styles/tokens/font.css';

html,
body {
  overscroll-behavior: none; /* 바운스 효과 제거 */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* 부드러운 스크롤 */
html {
  scroll-behavior: smooth;
}
